.Container {
    width: 100vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoadingContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Title{
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
}